<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>7796312181186475638</string>
		<key>run_input_hash</key>
		<string>10931658352619600860</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>10863</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
