<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>14039938259854641759</string>
		<key>run_input_hash</key>
		<string>6214039630454400815</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>55791</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
