<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>14810487750971368123</string>
		<key>run_input_hash</key>
		<string>4974572997396719759</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>34535</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
