<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>11466383156491180837</string>
		<key>run_input_hash</key>
		<string>18348828968907331211</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>79817</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
