<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>8718081045830723574</string>
		<key>run_input_hash</key>
		<string>10056471408594130646</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>80548</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
