<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>1410052676236942915</string>
		<key>run_input_hash</key>
		<string>8882688687005172230</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>25681</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
