<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>1232983861433227830</string>
		<key>run_input_hash</key>
		<string>1301150307984314093</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>91952</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
