<?xml version="1.0"?>
<plist>
	<dict>
		<key>backend</key>
		<string>local</string>
		<key>project_hash</key>
		<string>16525862616764420923</string>
		<key>run_input_hash</key>
		<string>3661437963937921115</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>_status</key>
		<string>2</string>
		<key>jobnumber</key>
		<string>50386</string>
	</dict>
</plist>
