<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>1421535650041022386</string>
		<key>run_input_hash</key>
		<string>16612120666430901520</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>14044</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
