<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>9890442802901435231</string>
		<key>run_input_hash</key>
		<string>11219641396432011625</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>34480</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
