<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>8249358503166978325</string>
		<key>run_input_hash</key>
		<string>10422977537074607822</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>69557</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
