<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>11152263676794179</string>
		<key>run_input_hash</key>
		<string>13072520040987885546</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>72352</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
