<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>16499434055998394395</string>
		<key>run_input_hash</key>
		<string>1885830902011232288</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>39641</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
