<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>6546510019635018394</string>
		<key>run_input_hash</key>
		<string>17272838046202544450</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>53320</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
