<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>10230593443963388923</string>
		<key>run_input_hash</key>
		<string>13512473279312096555</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>36880</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
