<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>562741654650857537</string>
		<key>run_input_hash</key>
		<string>18366990116536004360</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>32070</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
