<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>3894496080282421797</string>
		<key>run_input_hash</key>
		<string>12914378336547877084</string>
		<key>current_run</key>
		<string>0</string>
		<key>_status</key>
		<string>3</string>
		<key>run_directories</key>
		<string>3 </string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
