<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>13537293182516004448</string>
		<key>run_input_hash</key>
		<string>17454327234926548359</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>99149</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
