<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>10067901225572913657</string>
		<key>run_input_hash</key>
		<string>13097344374315194800</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>64425</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
