<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>11299740431167533885</string>
		<key>run_input_hash</key>
		<string>13668458052241928603</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>marat</string>
	</dict>
</plist>
