<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>6436486497578061517</string>
		<key>run_input_hash</key>
		<string>9166801897442798052</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>21340</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
