<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>10180807114962797342</string>
		<key>run_input_hash</key>
		<string>2049616849244222201</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>42217</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
