<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>15448328407713710217</string>
		<key>run_input_hash</key>
		<string>12704567782255904671</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>26694</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
