<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>12184411310650501348</string>
		<key>run_input_hash</key>
		<string>4837820682545954721</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>21207</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
