<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>7836439056200784663</string>
		<key>run_input_hash</key>
		<string>13949424201616610405</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>48281</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
