<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>18376891341431479648</string>
		<key>run_input_hash</key>
		<string>17610954538519135671</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>68124</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
