<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>10780130497966362878</string>
		<key>run_input_hash</key>
		<string>6658074550838397153</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>21011</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
