<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>2705013099798277120</string>
		<key>run_input_hash</key>
		<string>805124323988364634</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>marat</string>
	</dict>
</plist>
