<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>13786169218250834037</string>
		<key>run_input_hash</key>
		<string>14721088238157327933</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>62698</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
