<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>12449237169089768098</string>
		<key>run_input_hash</key>
		<string>16423034263992381439</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>41931</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
