<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>12015394124658055020</string>
		<key>run_input_hash</key>
		<string>5278286162872481755</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>39134</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
