<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>10510539080380943631</string>
		<key>run_input_hash</key>
		<string>4777413472476649763</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>46680</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
