<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>6144896800758941288</string>
		<key>run_input_hash</key>
		<string>3227689545292493508</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
