<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>9370634552322869207</string>
		<key>run_input_hash</key>
		<string>15678743693743396709</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>93871</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
