<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>10759938783095487819</string>
		<key>run_input_hash</key>
		<string>1546065763383382295</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>33896</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
