<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>13308511649196763964</string>
		<key>run_input_hash</key>
		<string>15856178759800887787</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>55760</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
