<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>3954499161850428422</string>
		<key>run_input_hash</key>
		<string>17339008230984719987</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>38506</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
