<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>13041934046950765863</string>
		<key>run_input_hash</key>
		<string>5662334328632196616</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>34904</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
