<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>10731504973740195079</string>
		<key>run_input_hash</key>
		<string>5085947025090719829</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>35250</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
