<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>15480465971761941945</string>
		<key>run_input_hash</key>
		<string>10629119538595459839</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>75115</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
