<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>2521289877866826488</string>
		<key>run_input_hash</key>
		<string>3136904308543737164</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>43646</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
