<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>7640732405017877748</string>
		<key>run_input_hash</key>
		<string>12283364860479046122</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>53123</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
