<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>7807101281297821124</string>
		<key>run_input_hash</key>
		<string>10922654141236795384</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>90516</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
