<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>1445570122783396768</string>
		<key>run_input_hash</key>
		<string>480788932888352905</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>53730</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
