<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>11840618307515184012</string>
		<key>run_input_hash</key>
		<string>1908812080233586078</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>4841</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
