<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>5270442902300551517</string>
		<key>run_input_hash</key>
		<string>5274142409218509273</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>78781</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
