<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>12764275427213376778</string>
		<key>run_input_hash</key>
		<string>9782714523995148464</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>49014</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
