<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>17114987918262050194</string>
		<key>run_input_hash</key>
		<string>11756517605307968575</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>73830</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
