<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>13070997489069164920</string>
		<key>run_input_hash</key>
		<string>16736983856575990639</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>74781</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
