<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>2219404578942881842</string>
		<key>run_input_hash</key>
		<string>11192726757925572127</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>32048</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
