<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>11255891253897147382</string>
		<key>run_input_hash</key>
		<string>597485867442808903</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>50922</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
