<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>5357551595378578901</string>
		<key>run_input_hash</key>
		<string>14895091321455937916</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>73230</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
