<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>2652172394220619513</string>
		<key>run_input_hash</key>
		<string>2037665705212635985</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>80276</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
