<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>14882757816674515310</string>
		<key>run_input_hash</key>
		<string>10700965441467129165</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>marat</string>
	</dict>
</plist>
