<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>9256383159510557421</string>
		<key>run_input_hash</key>
		<string>6818240956222260372</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>77227</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
