<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>8102958134347144565</string>
		<key>run_input_hash</key>
		<string>17836016101610105789</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>70043</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
