<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>13075232289944900500</string>
		<key>run_input_hash</key>
		<string>15630157104475703698</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>51489</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
