<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>11347339654074406523</string>
		<key>run_input_hash</key>
		<string>9491285715131685419</string>
		<key>current_run</key>
		<string>0</string>
		<key>_status</key>
		<string>3</string>
		<key>run_directories</key>
		<string>5 </string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
