<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>16142767279458914100</string>
		<key>run_input_hash</key>
		<string>9135357852951122102</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
