<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>10933352455505364054</string>
		<key>run_input_hash</key>
		<string>7061351768214774228</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>70696</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
