<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>12667084681447922321</string>
		<key>run_input_hash</key>
		<string>6793499530320490541</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>34127</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
