<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>434646660982410382</string>
		<key>run_input_hash</key>
		<string>2640061512218718010</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>30485</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
