<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>5819138239588207443</string>
		<key>run_input_hash</key>
		<string>5123040770158835403</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
