<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>10882384667470172357</string>
		<key>run_input_hash</key>
		<string>2416971997183443072</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>23932</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
