<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>12465136519806265624</string>
		<key>run_input_hash</key>
		<string>12376766780987327199</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>37383</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
