<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>16644121392384801276</string>
		<key>run_input_hash</key>
		<string>12812659750991212948</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>32193</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
