<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>2291876682707005988</string>
		<key>run_input_hash</key>
		<string>4909253368565939538</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
