<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>8251615232088179825</string>
		<key>run_input_hash</key>
		<string>8507507190085473468</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>94981</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
