<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>14927181919385486491</string>
		<key>run_input_hash</key>
		<string>17586294000076560219</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>61294</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
