<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>8558225148436331875</string>
		<key>run_input_hash</key>
		<string>4939757852260819642</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>22080</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
