<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>1607338606566632617</string>
		<key>run_input_hash</key>
		<string>15942871999935177947</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>31748</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
