<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>13052323453413360600</string>
		<key>run_input_hash</key>
		<string>16540067484537894023</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>44921</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
