<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>6088247735620358667</string>
		<key>run_input_hash</key>
		<string>10040574495509435328</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>51432</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
