<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>10105145800255521099</string>
		<key>run_input_hash</key>
		<string>7975184141364905897</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>47203</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
