<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>462629996726641250</string>
		<key>run_input_hash</key>
		<string>5035077776167676285</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>69032</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
