<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>2705435605216636970</string>
		<key>run_input_hash</key>
		<string>4249174721358165801</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>78162</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
