<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>3472273871985017978</string>
		<key>run_input_hash</key>
		<string>2958475983372776993</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>96597</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
