<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>7639124421236538344</string>
		<key>run_input_hash</key>
		<string>15712375644736430078</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>70829</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
