<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>17277752095595071181</string>
		<key>run_input_hash</key>
		<string>18075538782620070865</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>29513</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
