<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>7899417233523951442</string>
		<key>run_input_hash</key>
		<string>5048830045860189975</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>16025</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
