<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>10551819442626360969</string>
		<key>run_input_hash</key>
		<string>17299093625997977232</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
