<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>2840899652949997761</string>
		<key>run_input_hash</key>
		<string>15925151936113249198</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>76014</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
