<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>2427294608187194988</string>
		<key>run_input_hash</key>
		<string>3684947727556253764</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>41749</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
