<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>16570831285972105820</string>
		<key>run_input_hash</key>
		<string>17704496797529078524</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>7117</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
