<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>5105091685721104407</string>
		<key>run_input_hash</key>
		<string>17042960644271541232</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>8071</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
