<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>6580864313518157891</string>
		<key>run_input_hash</key>
		<string>16983272129998588271</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>54493</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
