<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>8233575436507501524</string>
		<key>run_input_hash</key>
		<string>14655586988367894302</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>27146</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
