<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>3989051858374972823</string>
		<key>run_input_hash</key>
		<string>16052568088477719343</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>89285</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
