<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>14934833853233342350</string>
		<key>run_input_hash</key>
		<string>9709909304178167912</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>69705</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
