<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>17162440212695991075</string>
		<key>run_input_hash</key>
		<string>17550629009360386680</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>13741</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
