<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>1123468018587384920</string>
		<key>run_input_hash</key>
		<string>7727683563815352870</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>71909</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
