<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>7288002839805250129</string>
		<key>run_input_hash</key>
		<string>9959470820358855200</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>29218</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
