<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>14023198719737675497</string>
		<key>run_input_hash</key>
		<string>1710733663599746682</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>47417</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
