<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>3340594686670273546</string>
		<key>run_input_hash</key>
		<string>18117089702668109181</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>63527</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
