<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>16503553042238436880</string>
		<key>run_input_hash</key>
		<string>8528468126917207190</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>30277</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
