<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>533166188425461603</string>
		<key>run_input_hash</key>
		<string>8706868410294375148</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>44205</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
