<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>12845215444031944896</string>
		<key>run_input_hash</key>
		<string>207274923290352367</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>marat</string>
	</dict>
</plist>
