<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>11003798427716780316</string>
		<key>run_input_hash</key>
		<string>13295037589317946386</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>33717</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
