<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>16524871800418966910</string>
		<key>run_input_hash</key>
		<string>14136907003095717558</string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>94070</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
		<key>run_directories</key>
		<string>2 </string>
	</dict>
</plist>
