<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>5274089142273755690</string>
		<key>run_input_hash</key>
		<string>13585351427212200479</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>38603</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
