<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>4064813492363580763</string>
		<key>run_input_hash</key>
		<string>17710263654980157079</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>39347</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
