<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>15592429658873962332</string>
		<key>run_input_hash</key>
		<string>7762316040912042810</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>96835</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
