<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>5209491988153003535</string>
		<key>run_input_hash</key>
		<string>8039492260536711041</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>38661</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
