<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>8307497738180021097</string>
		<key>run_input_hash</key>
		<string>12250626753533685595</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>15409</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
