<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>16222733011479076183</string>
		<key>run_input_hash</key>
		<string>1937892544337843603</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>76755</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
