<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>1088457818939411261</string>
		<key>run_input_hash</key>
		<string>4346561194857419545</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>63712</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
