<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>2051336136444241171</string>
		<key>run_input_hash</key>
		<string>4815523739280081255</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>28920</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
