<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>3124119624534123716</string>
		<key>run_input_hash</key>
		<string>8683955540243816404</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>4709</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
