<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>9839603149454271620</string>
		<key>run_input_hash</key>
		<string>11010263010035207854</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>70358</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
