<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>449255263842303262</string>
		<key>run_input_hash</key>
		<string>10638713745504553332</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>64829</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
