<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>16547717110640331000</string>
		<key>run_input_hash</key>
		<string>13343199704488423786</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>58860</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
