<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>15676599014602834736</string>
		<key>run_input_hash</key>
		<string>13707774613267059414</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>80276</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
