<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>10202020870233210348</string>
		<key>run_input_hash</key>
		<string>458289509282723671</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>54934</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
