<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>3959288448015370239</string>
		<key>run_input_hash</key>
		<string>9823851630728897749</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>33170</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
