<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>15839484676172574788</string>
		<key>run_input_hash</key>
		<string>8518140999037508565</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>62783</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
