<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>17610461983048769358</string>
		<key>run_input_hash</key>
		<string>705473749135974776</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>51261</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
