<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>7115608401527205201</string>
		<key>run_input_hash</key>
		<string>12573297771627952871</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>20732</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
