<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>13180792060612389310</string>
		<key>run_input_hash</key>
		<string>14898992270528379574</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>85910</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
