<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>4231433160575624471</string>
		<key>run_input_hash</key>
		<string>7054945711135633705</string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>8682</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
		<key>run_directories</key>
		<string>2 </string>
	</dict>
</plist>
