<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>2217276205828967722</string>
		<key>run_input_hash</key>
		<string>10444105745875515155</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>marat</string>
	</dict>
</plist>
