<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>10368732416431905950</string>
		<key>run_input_hash</key>
		<string>17710240061587061223</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>50601</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
