<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>16031639908675222954</string>
		<key>run_input_hash</key>
		<string>14972419050682411854</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>29341</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
