<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>4159504611588782654</string>
		<key>run_input_hash</key>
		<string>13395782447305222345</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>90151</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
