<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>4226667622919842973</string>
		<key>run_input_hash</key>
		<string>12534030923461740747</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>66682</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
