<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>17674876018944857190</string>
		<key>run_input_hash</key>
		<string>3599638602434441943</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>4027</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
