<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>4620794773802665904</string>
		<key>run_input_hash</key>
		<string>7242566884405212233</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>50801</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
