<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>16211082711746521321</string>
		<key>run_input_hash</key>
		<string>12695932541826824915</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>31285</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
