<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>5071311434847463672</string>
		<key>run_input_hash</key>
		<string>6333774778753704532</string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>15118</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
		<key>run_directories</key>
		<string>21 </string>
	</dict>
</plist>
