<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>11125778869332104854</string>
		<key>run_input_hash</key>
		<string>8351109618809994156</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>46919</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
