<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>13987078012227095206</string>
		<key>run_input_hash</key>
		<string>385113853900370789</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>48016</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
