<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>1861281539296786745</string>
		<key>run_input_hash</key>
		<string>10873020041386663043</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>96432</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
