<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>12323175766385451483</string>
		<key>run_input_hash</key>
		<string>3160499737012728104</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>29065</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
