<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>8309506069054353952</string>
		<key>run_input_hash</key>
		<string>10170725568084419988</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>35663</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
