<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>6204338051732387200</string>
		<key>run_input_hash</key>
		<string>1384971381584421442</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>47354</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
