<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>1940504078597190741</string>
		<key>run_input_hash</key>
		<string>427883700160226166</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>69960</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
