<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>4207453085379155889</string>
		<key>run_input_hash</key>
		<string>11466136164196065645</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>64089</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
