<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>2807375681798961045</string>
		<key>run_input_hash</key>
		<string>8276934588496208158</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>80314</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
