<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>10782763906066684523</string>
		<key>run_input_hash</key>
		<string>8432194586567151201</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>41870</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
