<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>6997241027092571734</string>
		<key>run_input_hash</key>
		<string>17517353271852459505</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>28224</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
