<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>11569540013411479652</string>
		<key>run_input_hash</key>
		<string>13863369027057355964</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>37439</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
