<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>16223218596561263672</string>
		<key>run_input_hash</key>
		<string>8820519452306889963</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>76962</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
