<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>9350103051511133650</string>
		<key>run_input_hash</key>
		<string>15281760934768996292</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>25829</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
