<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>3171486606527171049</string>
		<key>run_input_hash</key>
		<string>605770835283962047</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>83778</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
