<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>13821055478587164472</string>
		<key>run_input_hash</key>
		<string>1110576788589639326</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>55140</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
