<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>2236434679948306917</string>
		<key>run_input_hash</key>
		<string>1815700423608892270</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>52129</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
