<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>13885269068256193548</string>
		<key>run_input_hash</key>
		<string>7761833382031235405</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>99728</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
