<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>4665055822036175760</string>
		<key>run_input_hash</key>
		<string>17624398994324450592</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>14985</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
