<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>15138379964345899387</string>
		<key>run_input_hash</key>
		<string>3353581819862839600</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>73583</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
