<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>4963377316236770038</string>
		<key>run_input_hash</key>
		<string>8121756381525424319</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>91602</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
