<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>17103385189739111511</string>
		<key>run_input_hash</key>
		<string>1647042118409627241</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>26200</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
