<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>1363474408346330356</string>
		<key>run_input_hash</key>
		<string>17917809850946389357</string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>21342</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
		<key>run_directories</key>
		<string>2 </string>
	</dict>
</plist>
