<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>11899293955850993886</string>
		<key>run_input_hash</key>
		<string>15743678390588572746</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>74686</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
