<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>2590801507105872170</string>
		<key>run_input_hash</key>
		<string>6948584290117908906</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>73697</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
