<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>15697242202608051352</string>
		<key>run_input_hash</key>
		<string>6013117486256408178</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>74528</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
