<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>9076921073838204652</string>
		<key>run_input_hash</key>
		<string>4970453090518510856</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>10273</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
