<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>8579024867390885802</string>
		<key>run_input_hash</key>
		<string>3357759340877733230</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>67910</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
