<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>11909999790835793106</string>
		<key>run_input_hash</key>
		<string>6149384755944250961</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>61200</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
