<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>5860066087296517379</string>
		<key>run_input_hash</key>
		<string>13185576806157226824</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>10452</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
