<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>9295975238362069065</string>
		<key>run_input_hash</key>
		<string>9362605799651092627</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>26719</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
