<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>17685379507186637448</string>
		<key>run_input_hash</key>
		<string>8331367397257327183</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>38401</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
