<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>6610141183259711542</string>
		<key>run_input_hash</key>
		<string>1311989056043225178</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>marat</string>
	</dict>
</plist>
