<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>2499719664829476396</string>
		<key>run_input_hash</key>
		<string>15814744493503072242</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>43377</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
