<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>16548041611769771250</string>
		<key>run_input_hash</key>
		<string>15878615004580417951</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
