<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>10916243641267974669</string>
		<key>run_input_hash</key>
		<string>11613364207300978460</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>72000</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
