<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>14308235748099626500</string>
		<key>run_input_hash</key>
		<string>13634249156708784583</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>24992</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
