<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>1175366735549657370</string>
		<key>run_input_hash</key>
		<string>5104708658158505514</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>17800</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
