<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>8498317091330887748</string>
		<key>run_input_hash</key>
		<string>5144452705936654633</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>54993</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
