<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>12487103033758825281</string>
		<key>run_input_hash</key>
		<string>16102573416132030121</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>60503</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
