<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>3729323588586039483</string>
		<key>run_input_hash</key>
		<string>9702186416650724057</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>marat</string>
	</dict>
</plist>
