<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>18082244783394870582</string>
		<key>run_input_hash</key>
		<string>17291617104498624670</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>77099</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
