<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>2895711330335187441</string>
		<key>run_input_hash</key>
		<string>7184995674478781083</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
