<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>8378313774137671908</string>
		<key>run_input_hash</key>
		<string>4692468258134693430</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>65948</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
