<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>8404993084929001558</string>
		<key>run_input_hash</key>
		<string>3846230720823496715</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>23393</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
