<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>17650913464913827579</string>
		<key>run_input_hash</key>
		<string>12447980634885225614</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>18870</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
