<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>7745714303718220544</string>
		<key>run_input_hash</key>
		<string>9859684083751383852</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>25660</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
