<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>11796724528816847265</string>
		<key>run_input_hash</key>
		<string>6384384501987125889</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>13512</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
