<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>340392108757073771</string>
		<key>run_input_hash</key>
		<string>5539596012586355436</string>
		<key>current_run</key>
		<string>0</string>
		<key>_status</key>
		<string>3</string>
		<key>run_directories</key>
		<string>2 </string>
		<key>backend</key>
		<string>marat</string>
	</dict>
</plist>
