<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>2028088303778762231</string>
		<key>run_input_hash</key>
		<string>8945756510242386558</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>24876</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
