<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>2924222288378852014</string>
		<key>run_input_hash</key>
		<string>15919053277250912046</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>49721</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
