<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>9246694590072441993</string>
		<key>run_input_hash</key>
		<string>5660848101217734282</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>96788</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
