<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>1234384262625125464</string>
		<key>run_input_hash</key>
		<string>9995314107206734060</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>30559</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
