<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>10892764423987510801</string>
		<key>run_input_hash</key>
		<string>1418783288021229204</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>62764</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
