<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>16095048807345719883</string>
		<key>run_input_hash</key>
		<string>16781059097036374879</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>90656</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
