<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>9089684212698982844</string>
		<key>run_input_hash</key>
		<string>11526782831929484656</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>60974</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
