<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>8624136699065404370</string>
		<key>run_input_hash</key>
		<string>459052746554813975</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>23496</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
