<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>7177103867513113381</string>
		<key>run_input_hash</key>
		<string>9547094353388300622</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>29039</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
