<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>16301721351464127008</string>
		<key>run_input_hash</key>
		<string>13567457749074863056</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>83186</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
