<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>10822359679288200828</string>
		<key>run_input_hash</key>
		<string>838916032798682149</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>33333</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
