<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>11175242415176983599</string>
		<key>run_input_hash</key>
		<string>11174399039951589371</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>3668</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
