<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>1820540704703920487</string>
		<key>run_input_hash</key>
		<string>12379335281432078270</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>44384</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
