<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>578794953458644459</string>
		<key>run_input_hash</key>
		<string>1384020156580399983</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>27143</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
