<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>927828688972729234</string>
		<key>run_input_hash</key>
		<string>3819505951352154924</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>marat</string>
	</dict>
</plist>
