<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>15780444649339135185</string>
		<key>run_input_hash</key>
		<string>11653116296783889685</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>40500</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
