<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>15455755722477472025</string>
		<key>run_input_hash</key>
		<string>10228865984920126455</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>28535</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
