<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>5321357200182100206</string>
		<key>run_input_hash</key>
		<string>10591094557096852745</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>81695</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
