<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>1841369951610224214</string>
		<key>run_input_hash</key>
		<string>8520987622179049769</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>54378</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
