<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>915800888211524098</string>
		<key>run_input_hash</key>
		<string>11484524520911449735</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>63970</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
