<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>16475588375414567741</string>
		<key>run_input_hash</key>
		<string>3638286449386644656</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>70738</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
