<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>9131252429216005120</string>
		<key>run_input_hash</key>
		<string>5104743886100771932</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>45814</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
