<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>1171477836051871015</string>
		<key>run_input_hash</key>
		<string>6303440755741449468</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>54554</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
