<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>6572445295537010309</string>
		<key>run_input_hash</key>
		<string>4009643413512063918</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>57956</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
