<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>1951350694338001446</string>
		<key>run_input_hash</key>
		<string>5757147981572706198</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>25972</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
