<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>5440393827901860854</string>
		<key>run_input_hash</key>
		<string>4587667741778331727</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>marat</string>
	</dict>
</plist>
