<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>17686611373962893097</string>
		<key>run_input_hash</key>
		<string>17961111957061978707</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>46464</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
