<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>11994209243592734205</string>
		<key>run_input_hash</key>
		<string>16477321746058844966</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>63530</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
