<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>2312940007004298478</string>
		<key>run_input_hash</key>
		<string>231950691122779679</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>78375</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
