<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>7427836418490093792</string>
		<key>run_input_hash</key>
		<string>15190846190240713530</string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>50497</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
		<key>run_directories</key>
		<string>2 </string>
	</dict>
</plist>
