<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>10110503157160735085</string>
		<key>run_input_hash</key>
		<string>642070408357814923</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
