<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>6589426624423646137</string>
		<key>run_input_hash</key>
		<string>5681772765611359573</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>66335</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
