<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>3293056112661672793</string>
		<key>run_input_hash</key>
		<string>4068791616318660717</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>36287</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
