<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>17455371521601561707</string>
		<key>run_input_hash</key>
		<string>1634097221789834586</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
