<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>13210916612265742276</string>
		<key>run_input_hash</key>
		<string>3814384387581726486</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>26286</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
