<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>14966581777451924422</string>
		<key>run_input_hash</key>
		<string>9961824413617909468</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>marat</string>
	</dict>
</plist>
