<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>11598815750055432987</string>
		<key>run_input_hash</key>
		<string>4204136139744945153</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
