<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>8287598628418498394</string>
		<key>run_input_hash</key>
		<string>590161784524265398</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>97038</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
