<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>14717794225853928736</string>
		<key>run_input_hash</key>
		<string>16612642164244781885</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>52746</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
