<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>16140320074564790187</string>
		<key>run_input_hash</key>
		<string>5220051424534139754</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>16122</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
