<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>15868648322364715694</string>
		<key>run_input_hash</key>
		<string>234666915131947908</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>54210</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
