<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>16984766026595207493</string>
		<key>run_input_hash</key>
		<string>12946026116240174264</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>16994</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
