<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>4693450592621002074</string>
		<key>run_input_hash</key>
		<string>15583863798690159707</string>
		<key>run_directories</key>
		<string>2 1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
