<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>12079020100011268566</string>
		<key>run_input_hash</key>
		<string>13423091614400309279</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>24988</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
