<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>1960976173007499732</string>
		<key>run_input_hash</key>
		<string>1854428378936338758</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>49102</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
