<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>1571675106866653010</string>
		<key>run_input_hash</key>
		<string>4663132023920243568</string>
		<key>run_directories</key>
		<string>2 1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
