<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>9011229465577159404</string>
		<key>run_input_hash</key>
		<string>17993981242843919353</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>64439</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
