<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>1369256121582536402</string>
		<key>run_input_hash</key>
		<string>11806622285570954803</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>71747</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
