<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>16548611122776486436</string>
		<key>run_input_hash</key>
		<string>13125728053737625251</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>34168</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
