<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>11252517835407294400</string>
		<key>run_input_hash</key>
		<string>13562793638293188049</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>38593</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
