<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>12297892638127417375</string>
		<key>run_input_hash</key>
		<string>429380384320875871</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>41347</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
