<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>16876764251007975603</string>
		<key>run_input_hash</key>
		<string>18334854089186128334</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>69898</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
