<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>3091259657307759909</string>
		<key>run_input_hash</key>
		<string>2747109099985816173</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>23441</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
