<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>16666350628007645678</string>
		<key>run_input_hash</key>
		<string>9806185197967693742</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>11931</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
