<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>7962249682671916786</string>
		<key>run_input_hash</key>
		<string>5186174762072780690</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>44974</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
