<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>2888098675897790394</string>
		<key>run_input_hash</key>
		<string>18424725437498125251</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>31529</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
