<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>9782739287136998701</string>
		<key>run_input_hash</key>
		<string>1563101595515664230</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>37577</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
