<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>3668622141383393969</string>
		<key>run_input_hash</key>
		<string>5510313378972738828</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>9491</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
