<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>13161394241762597108</string>
		<key>run_input_hash</key>
		<string>6930991923098950195</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>48286</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
