<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>2148172057574928258</string>
		<key>run_input_hash</key>
		<string>13520602167956978663</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>29412</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
