<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>8279334118210107898</string>
		<key>run_input_hash</key>
		<string>10747898406692763678</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>43888</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
