<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>3582002938652730825</string>
		<key>run_input_hash</key>
		<string>10113399352745468831</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>63839</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
