<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>9697010375814525704</string>
		<key>run_input_hash</key>
		<string>14296667018101786849</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>31406</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
