<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>7674366514069184751</string>
		<key>run_input_hash</key>
		<string>3038647618869917234</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>17471</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
