<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>12402914550986541955</string>
		<key>run_input_hash</key>
		<string>16328586951050352820</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>27950</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
