<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>1246228287874733903</string>
		<key>run_input_hash</key>
		<string>8322715226455852002</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>11990</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
