<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>6112569946872646527</string>
		<key>run_input_hash</key>
		<string>14331822586350667254</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>98917</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
