<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>10503812307822043883</string>
		<key>run_input_hash</key>
		<string>17171770731560207135</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>72809</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
