<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>1632532214924909668</string>
		<key>run_input_hash</key>
		<string>15867267536379012361</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>51282</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
