<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>8514799074364519216</string>
		<key>run_input_hash</key>
		<string>13078878528197392560</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>73153</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
