<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>10516469405784306535</string>
		<key>run_input_hash</key>
		<string>16797616030514807508</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>51253</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
