<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>14563814043796209953</string>
		<key>run_input_hash</key>
		<string>11574822755888150637</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
