<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>7835808374724561847</string>
		<key>run_input_hash</key>
		<string>17337359203486281451</string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>50829</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
		<key>run_directories</key>
		<string>2 </string>
	</dict>
</plist>
