<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>3912896205419192087</string>
		<key>run_input_hash</key>
		<string>2034942285575773187</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>74996</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
