<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>18266851812261159110</string>
		<key>run_input_hash</key>
		<string>14090317260918514987</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>91809</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
