<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>12399117065795923203</string>
		<key>run_input_hash</key>
		<string>6597242347719455756</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
