<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>2454880205493127776</string>
		<key>run_input_hash</key>
		<string>11727994956623095265</string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>47931</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
		<key>run_directories</key>
		<string>2 </string>
	</dict>
</plist>
