<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>17268192965926364445</string>
		<key>run_input_hash</key>
		<string>17699834237753017812</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>70006</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
