<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>7576054417336408745</string>
		<key>run_input_hash</key>
		<string>8185402586599214065</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>74272</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
