<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>8287155031688661593</string>
		<key>run_input_hash</key>
		<string>10562611664366434829</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>98381</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
