<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>6980401180714454748</string>
		<key>run_input_hash</key>
		<string>15466393135058541633</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>48966</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
