<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>8106775009250013899</string>
		<key>run_input_hash</key>
		<string>6900197457552723330</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>68924</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
