<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>215640737430317603</string>
		<key>run_input_hash</key>
		<string>6830789774537230943</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>38017</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
