<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>12722143344762443001</string>
		<key>run_input_hash</key>
		<string>1845527994053065553</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>37091</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
