<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>16060487874309387277</string>
		<key>run_input_hash</key>
		<string>17194407826112767366</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>32276</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
