<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>1275661727108365813</string>
		<key>run_input_hash</key>
		<string>16877871593453487016</string>
		<key>current_run</key>
		<string>0</string>
		<key>_status</key>
		<string>3</string>
		<key>run_directories</key>
		<string>2 </string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
