<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>10632643290163521577</string>
		<key>run_input_hash</key>
		<string>14810672867983279550</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>32430</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
