<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>3300800318336069411</string>
		<key>run_input_hash</key>
		<string>8889672953080763683</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>57198</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
