<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>16824097004707004764</string>
		<key>run_input_hash</key>
		<string>17217607933632553005</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
