<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>17488866088286788318</string>
		<key>run_input_hash</key>
		<string>8554715001467410561</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>47342</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
