<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>14326242092046681143</string>
		<key>run_input_hash</key>
		<string>4357909608413912124</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>61984</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
