<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>13483882753547989908</string>
		<key>run_input_hash</key>
		<string>2001867126546268011</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>34040</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
