<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>9437174706544777388</string>
		<key>run_input_hash</key>
		<string>8994173845503934470</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>20938</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
