<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>8148654347438485027</string>
		<key>run_input_hash</key>
		<string>16509137029466666672</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>35066</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
