<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>13595273510581871636</string>
		<key>run_input_hash</key>
		<string>326343497600657069</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>27866</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
