<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>2987104003132009562</string>
		<key>run_input_hash</key>
		<string>13169300833942138643</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>82034</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
