<?xml version="1.0"?>
<plist>
	<dict>
		<key>backend</key>
		<string>local</string>
		<key>project_hash</key>
		<string>10481231015075882199</string>
		<key>run_input_hash</key>
		<string>3078116668366174162</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
	</dict>
</plist>
