<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>1261043319239894576</string>
		<key>run_input_hash</key>
		<string>9054443263784077815</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>57733</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
