<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>18152317266936322292</string>
		<key>run_input_hash</key>
		<string>9537906129355450844</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>75333</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
