<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>6477072860325603505</string>
		<key>run_input_hash</key>
		<string>4414602636158102717</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>67984</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
