<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>4196228935894994776</string>
		<key>run_input_hash</key>
		<string>7744682066446269539</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>53503</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
