<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>16648948899068412208</string>
		<key>run_input_hash</key>
		<string>3969460043644423051</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>22101</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
