<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>6850688322105202323</string>
		<key>run_input_hash</key>
		<string>15241362166798084243</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>12677</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
