<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>1760738888441836900</string>
		<key>run_input_hash</key>
		<string>2799514343045882168</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>68794</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
