<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>89115902698481636</string>
		<key>run_input_hash</key>
		<string>744769026726598457</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>38907</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
