<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>12210495821584568497</string>
		<key>run_input_hash</key>
		<string>17329108687943408923</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
