<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>1281869018199751481</string>
		<key>run_input_hash</key>
		<string>10815148527808987763</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>marat</string>
	</dict>
</plist>
