<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>573547958091072665</string>
		<key>run_input_hash</key>
		<string>7176131240296943573</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>46284</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
