<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>12868708300186698804</string>
		<key>run_input_hash</key>
		<string>14123021119608412154</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>76089</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
