<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>2741123940827128596</string>
		<key>run_input_hash</key>
		<string>15468595746366129700</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>37715</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
