<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>11035397917612957988</string>
		<key>run_input_hash</key>
		<string>14421864524723124829</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>77857</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
