<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>13505813398973390014</string>
		<key>run_input_hash</key>
		<string>14878165157940256537</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>9719</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
