<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>7615013733200394732</string>
		<key>run_input_hash</key>
		<string>17241392533848274739</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>marat</string>
	</dict>
</plist>
