<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>7035477899202696063</string>
		<key>run_input_hash</key>
		<string>15692459547562690508</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>32768</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
