<?xml version="1.0"?>
<plist>
	<dict>
		<key>backend</key>
		<string>local</string>
		<key>project_hash</key>
		<string>17048702557644319768</string>
		<key>run_input_hash</key>
		<string>12234981265537505907</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>_status</key>
		<string>1</string>
		<key>jobnumber</key>
		<string>55887</string>
	</dict>
</plist>
