<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>9877825337194173187</string>
		<key>run_input_hash</key>
		<string>4338392726668986160</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>80443</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
