<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>15326197534509481488</string>
		<key>run_input_hash</key>
		<string>5999076882632545476</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>17676</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
