<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>11940062722907978199</string>
		<key>run_input_hash</key>
		<string>6826989748703532052</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>35262</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
