<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>4202968066152694009</string>
		<key>run_input_hash</key>
		<string>7003718374214241600</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>25959</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
