<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>13260323513991604799</string>
		<key>run_input_hash</key>
		<string>4372260605154133146</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>60842</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
